<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Form></title>
  </head>
  <body>
    <h1>Currency Conversion Form</h1>
    <form action="/convert" method="post">
      Currency Converting from:<input
        type="text"
        name="from"
        placeholder="Enter Currency Code"
      />
      Currency Converting to:<input
        type="text"
        name="to"
        placeholder="Enter Currency Code"
      />
      Amount:<input type="text" name="amount" placeholder="Enter amount" />
      <button type="submit">Convert!</button>
    </form>
    {% if conversion_result %}
    <p>
      {{amount}} {{currency_from}} to {{currency_to}} is {{conversion_result}}
      {{currency_to}}
    </p>
    {% for msg in get_flashed_messages()%}
    <p>{{msg}}</p>
    {%endfor%} {% endif %}
  </body>
</html>
